@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

@media only screen and (max-width: 1060px) {
    /* Mobile */

    #MobileWrapper {
        display:initial;
        overflow:hidden;
    }

    #DesktopWrapper {
        display:none;
    }

    header {
        position:relative;
        width:100vw;
        height:7.5vh;
        border-bottom:.15vh solid #FFA800;
        text-align:center;
        background:#2c2c2c;
        box-sizing:border-box;
    }

    .MenuItem {
        font-family:'Titillium Web';
        font-size:2.8vh;
        text-align:center;
        color:#B8B8B8;
        display:inline-block;
        margin-top:1vh;
        margin-left:5vw;
        margin-right:5vw;
        font-weight:normal;
        transition:.25s ease;
        user-select:none;
    } .MenuItem.active {
        font-size:3.6vh;
        color:#E5E5E5;
        display:inline-block;
    }

    .PageWrapper {
        width:100%;
        height:92.5vh;
        overflow-x:hidden;
    }

    .Page {
        display:none;
        position:absolute;
        width:100%;
        height:100%;
        transition:.3s ease;
    } .Page.left {
        
    } .Page.Right {
        
    } .Page.active {
        display:block;
    }
}

@media only screen and (min-width: 1060px) {
    /* Desktop */

    #DesktopWrapper {
        position:absolute;
        top:0;
        left:0;
        display:initial;
        background:#303030;
        width:100vw;
        height:100vh;
        text-align:center;
    }

    #MobileWrapper {
        display:none;
    }
}

/* General CSS */
body {
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    background:#303030;
    overflow:hidden;
}

.LoadingWrapper {
    position:absolute;
    top:0;
    left:0;
    z-index:99999;
    background:#1f1f1f;
    width:100vw;
    height:100vh;
    text-align:center;
    transition:.6s ease;
    opacity:0;
} .LoadingWrapper.visible {
    opacity:1;
} .LoadingWrapper.gone {
    display:none;
}

.CenterText {
    position:relative;
    top:40%;
    transform:translateY(-50%);
    color:white;
    font-size:5vh;
    font-family:'Titillium Web';
    animation:LoadingTextAnim 2s infinite;
}

@keyframes LoadingTextAnim {
    0% {opacity:1}
    50% {opacity:.5}
    100% {opacity:1}
}